*.swp
*~
.DS_Store
.python-version
.vim/.netrwhist

.config/*

# whitelist
!.config/nvim
!.config/git
!.config/karabiner
!.config/ghostty
!.config/gh
!.config/glow

.config/gh/hosts.yml

.hammerspoon/Spoons

